<mddoc>

	<docpage target="README.md" autoloader="psr4" autoloader-root-namespace="Quorum\Exporter" autoloader-root="src">

        <section title="Exporter">
			<badge-poser type="version" />
			<badge-poser type="downloads" />
			<badge-poser type="license" />
			<badge-github-action name="QuorumCollection/Exporter" workflow-file="ci.yml"/>
            <text><![CDATA[
A Streamed Data Export Tool

Supported formats:
- CSV / TSV
- SpreadsheetML "Excel 2004 XML Spreadsheet"
- More to come.

]]></text>
			<section title="Requirements">
				<composer-requires />
			</section>
			<section title="Installing">
				<composer-install/>
			</section>
            <section title="Documentation">
                <recursive-directory name="src/" />
            </section>
        </section>
	</docpage>
</mddoc>
